@import '/src/styles/base';

.button {
  border-radius: 6px;
  border: none;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  transition: 80ms ease-in-out;
  @include themed-styles {
    color: themed-colour('button-text-primary');
    box-shadow: 1px 1px 3px themed-colour('shadow-primary');

    &:hover {
      box-shadow: 3px 3px 4px themed-colour('shadow-primary');
    }
  }

  &:disabled {
    cursor: not-allowed;
    @include themed-styles {
      color: rgba(themed-colour('button-text-primary'), 0.8);
    }
  }
}

.lg {
  padding: 14px 16px;
  font-size: 16px;
}

.md {
  padding: 10px 12px;
}

.sm {
  padding: 8px 10px;
  font-weight: normal;
}

.contained {
  height: 100%;
  width: 100%;
}

.primary {
  @include themed-styles {
    background-color: themed-colour('accent-primary');
    &:hover {
      background-color: themed-colour('button-selected-primary');
    }
  }
}

.secondary {
  @include themed-styles {
    background-color: themed-colour('accent-secondary');
    &:hover {
      background-color: themed-colour('button-selected-secondary');
    }
  }
}

.loadingicon {
  display: inline-block;
  position: relative;
  padding: 0 34px;
  height: 20px;

  div {
    position: absolute;
    top: 40%;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);

    &:nth-child(1) {
      left: 8px;
      animation: circle-1 0.6s infinite;
    }

    &:nth-child(2) {
      left: 8px;
      animation: circle-2 0.6s infinite;
    }

    &:nth-child(3) {
      left: 32px;
      animation: circle-2 0.6s infinite;
    }

    &:nth-child(4) {
      left: 56px;
      animation: circle-3 0.6s infinite;
    }
  }
}

@keyframes circle-1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes circle-3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes circle-2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
