@import './theme';

@mixin row {
  display: flex;
  flex-direction: row;
}

@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin rounded {
  border-width: 10px;
}

@mixin boxed {
  @include themed-styles {
    background-color: themed-color('background0');
  }
}
