@import './theme';
@import './layout';

@mixin row {
  display: flex;
  flex-direction: row;
}

@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin rounded {
  border-radius: 10px;
}

@mixin boxed {
  @include themed-styles {
    background-color: themed-colour('background0');
  }
}

@mixin shadowed {
  @include themed-styles {
    box-shadow: 2px 3px 4px themed-colour('shadow-primary');
  }
}
