$themes: (
  dark: (
    backdrop: #172436,
    background0: #0d0b17,
    text-primary: #fefeff,
    text-muted: #a5a9ae,
    accent-primary: #2c78db,
    accent-secondary: #6c6c70,
    button-text-primary: #fefeff,
    button-selected-primary: #0d5dc5,
    button-selected-secondary: #555558,
    shadow-primary: #0000002c,
  ),
  light: (
    backdrop: #f1f7fa,
    background0: white,
    text-primary: #505050,
    text-muted: #7f7f81,
    accent-primary: #57ccf2,
    accent-secondary: #8c8c90,
    button-text-primary: white,
    button-selected-primary: #01b7f3,
    button-selected-secondary: #747477,
    shadow-primary: #0000002c,
  ),
);

@mixin themed-styles() {
  @each $theme, $map in $themes {
    :global(.theme-#{$theme}) & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get($map, '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }

  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get($map, '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed-colour($key) {
  @return map-get($theme-map, $key);
}
