@import 'src/styles/base';

.main {
  display: flex;
  flex: 1;
}

.layout {
  @include row;
  flex: 1;
  align-items: center;
}

@mixin base {
  @include column;
  height: inherit;
  flex: 1;
}

.login {
  @include base;

  align-items: center;
  justify-content: center;
}

.content {
  height: 100% !important;
  @include base;

  @include mobile {
    display: none;
  }
  @include themed-styles {
    background-color: themed-colour('background0');
  }
}

.authenticate {
  @include column;
  width: 60%;
  gap: 30px;
  @include mobile {
    width: 90%;
    gap: 20px;
  }
}

.fields {
  @include column;
  width: 100%;
  gap: 10px;
  @include mobile {
    gap: 5px;
  }
}

.account {
  @include row;
  width: 100%;
  gap: 0.3em;

  span {
    cursor: pointer;
    @include themed-styles {
      color: themed-colour('accent-primary');
    }

    &:hover {
      @include themed-styles {
        color: themed-colour('button-selected-primary');
      }
    }
  }

  @include mobile {
    justify-content: flex-end;
    padding: 0px 4px;
    margin: -10px 0px;
    font-size: 14px;
  }
}

.error {
  height: 24px;
  display: flex;
  align-items: center;
  margin: -30px 0px;
  color: red;
  font-size: 12px;

  @include mobile {
    height: 16px;
    margin: -20px 0px;
  }
}
