@import 'src/styles/base';

.main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding-top: 80px;
  
  @include themed-styles {
    background-color: themed-colour('backdrop');
  }

  align-items: center;
}

.layout {
  @include row;
  @include themed-styles {
    border-top: 1px solid themed-colour('divider');
  }
}

.sidebar {
  width: 20%;
  height: 100vh;
  padding: 25px;

  @include themed-styles {
    background-color: themed-colour('backdrop');
    border-right: 1px solid themed-colour('divider');
  }

  p {
    font-weight: normal;
    @include themed-styles {
      color: themed-colour('text-primary');
    }
  }

  .stats {
    margin-top: 70px;
  }
}

.searchBar {
  display: flex;
  align-items: center;
  border-radius: 3px;
  @include themed-styles {
    background-color: themed-colour('background0');
  }

  .searchIcon {
    padding: 0 5px 0 8px;
      @include themed-styles {
        fill: themed-colour('text-primary');
      }
  }

  input {
    border: none;
    font-size: 14px;
    height: 32px;
    background-color: inherit;

    &:focus {
      outline: none;
    }
  }
}

.content {
  @include column;
  margin: 0 32px;

  height: 100%;
  width: 80%;
  align-items: center;

  >div {
    width: 100%;
    margin-bottom: 15px;
  }
}

@mixin base {
  @include column;
  height: inherit;
  flex: 1;
}

.header {
  @include column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 10px;

  @include themed-styles {
    color: themed-colour('text-primary');
    border-bottom: 1px solid themed-colour('divider');
  }

  h2 {
    font-weight: normal;
    font-size: 22px;
    padding: 20px 0;
  }

  .subheader {
    @include row;
    justify-content: space-between;
    button {
      width: 120px;
    }

    .sortMenu {
      display: inline-flex;
      border-radius: 3px;
      @include themed-styles {
        background-color: themed-colour('background0');
      }
    }
  }
}

.buttons {
  @include row;
  width: 100%;
  justify-content: flex-end;
}

.labels {
  @include row;
  justify-content: space-between;
  margin-left: 15px;
  
  h3 {
    font-weight: normal;
    font-size: 14px;
  }

  @include themed-styles {
    color: themed-colour('text-muted');
  }

  .infoLabels {
    @include row;
    width: 45%;
    justify-content: space-between;
    margin-right: 20px;
  }
}

.defaultEmpty {
  font-weight: normal;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  @include themed-styles {
    color: themed-colour('text-muted');
  }
}

.sortMenu {
  align-items: center;
  padding: 0 10px;
  font-size: 14px;
}

.sortDropdown {
  position: absolute;
  transform: translate3d(120vh, 4vh, 0px);
  border-radius: 5px;
  @include themed-styles {
    box-shadow: 3px 1px 2px themed-colour('shadow-primary');
  }
  z-index: 1;
}