@import '/src/styles/base';

.container {
  @include column;
  @include boxed;
  @include rounded;

  padding: 25px;

  @include themed-styles {
    background-color: themed-colour('background0');
  }
}

.content {
  @include column;

  h2 {
    font-size: 35px;
    margin-bottom: 10px;
  }

  margin-bottom: 10px;
}
