@import '/src/styles/base';

.container {
  display: flex;
  align-items: center;
  border-radius: 3px;
  gap: 5px;

  @include themed-styles {
    background-color: themed-colour('backdrop');
  }

  svg {
    margin-left: 8px;
    @include themed-styles {
      fill: themed-colour('text-primary');
    }
  }

  input {
    border: none;
    font-size: 14px;
    height: 32px;
    background-color: inherit;
    overflow: auto;
    @include themed-styles {
      color: themed-colour('text-primary');
    }

    &:focus {
      outline: none;
    }
  }
}
