@import 'src/styles/base';

.container {
  @include row;
  width: 100%;
  flex: 1;
  position: relative;

  & > button {
    position: absolute;
    right: 0;
  }
}

.graph {
  height: 100%;
  width: 100%;
  position: absolute;
}

.active {
  width: 60%;
}

.panel {
  @include row;
  height: 100%;
  width: 40%;
  position: absolute;
  overflow-y: scroll;
  right: 40px;
}
