@import '/src/styles/base';

.button {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 35px;
  width: 35px;
  @include rounded;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    @include themed-styles {
      background-color: transparent;
    }
  }

  &:hover {
    transition: 100ms ease-in-out;
    @include themed-styles {
      background-color: rgba(themed-colour('accent-secondary'), 0.3);
    }
  }

  svg {
    padding: 6px;
    height: 35px;
    width: 35px;
    @include themed-styles {
      stroke: rgba(themed-colour('text-primary'), 0.8);
      fill: rgba(themed-colour('text-primary'), 0.8);
    }
  }
}
