@import '/src/styles/base';

.button {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 35px;
  width: 35px;

  svg {
    @include rounded;
    padding: 6px;
    height: 35px;
    width: 35px;
    cursor: pointer;
    @include themed-styles {
      stroke: rgba(themed-colour('text-primary'), 0.8);
    }

    &:hover {
      transition: 100ms ease-in-out;
      @include themed-styles {
        background-color: rgba(themed-colour('accent-secondary'), 0.3);
      }
    }
  }
}
